.course {
    margin-top: 100px;
}
.course h2 {  
    text-align: center;
    margin-top: 20px;
    font-family: 'Coming Soon', cursive;
    font-weight: lighter;
    color: #848ccf
}
.course p {
    font-family: 'Coming Soon', cursive;
    color: #848ccf
}
h3 {
    font-family: 'Coming Soon', cursive;
}


table {
    margin: auto;
    font-family: 'Coming Soon', cursive;
}
table img {
    width: 200px;
    height: 250px;
}
/*footer*/
footer{
    height:15vh; 
    position: relative;
    padding: 0;
    margin: 40px 0 10px 0;

}
footer p {
    margin: 0;
    padding: 1px;
    font-size: 0.8em;
    color:#cadefc;
}
footer a:link {
    color: #cadefc;
}
footer a:hover {
    color: #cca8e9;

}
.fab {
    font-size: 2em;
    color:#cadefc;
}
.fab:hover{
    color: #cca8e9;
}
/*shop page*/
.amazon {
    width: 78%;
}
.amazondiv {
width: 100%;
text-align: center;
}
@media screen and (max-width:850px) {
    body {
        margin: 10px;
    }
    .course {
        margin-top: 150px;
    }
    table img {
        width: 115px;
        height: 200px;
    }

}
@media screen and (max-width:1000px) {

    .course {
        padding-top: 100px;
        margin-top: 200px;
    }
    table img {
        width: 115px;
        height: 200px;
    }
}
