.intro {
    margin-top: 140px;
}


/*footer*/
footer{
    height:15vh; 
    position: relative;
    padding: 0;
    margin: 40px 0 10px 0;

}
footer p {
    margin: 0;
    padding: 1px;
    font-size: 0.8em;
    color:#cadefc;
}
footer a:link {
    color: #cadefc;
}
footer a:hover {
    color: #cca8e9;

}
.fab {
    font-size: 2em;
    color:#cadefc;
}
.fab:hover{
    color: #cca8e9;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    font-family: 'Glegoo', serif;

}


form input {
    margin-bottom: 1em;
    font-family: 'Glegoo', serif;
    border: #FFF;
    color: #c4b6b6;
}
form textarea {
    margin-bottom:1em ;
    border: #FFF;
    color: #c4b6b6;
}

.container .send {
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1px solid #FFF;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ffd5cd;
    color: #FFF;
    font-weight: bolder;
    font-family: 'Glegoo', serif;


}
.send:hover{
    background-color: #FFF;
    color:  #ffd5cd;
    border-radius: 5px;
    border: 2px solid #FFF;
    font-weight: bolder;
}
