body {
    margin-top: 10%;
}

hr {
    width: 7%;
    border: 0.5px solid #c4b6b6;
    margin-bottom: 25px;
}
#flower h3 {
    margin-top: 300px;
}
h3 {
    color: #c4b6b6;
    font-family: 'Glegoo', serif;
    font-weight: lighter;
    font-size: 2em;
}
div img {
   
    width: 390px;
    height: 430px;
    margin: 15px;

}




#flower {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#princess {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#lettering {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

/*footer*/
footer{
    height:15vh; 
    position: relative;
    margin: 40px 0 10px 0;

}
footer p {
    margin: 0;
    padding: 1px;
    font-size: 0.8em;
    color:#cadefc;
}

footer a:link {
    color: #cadefc;
}
footer a:hover {
    color: #cca8e9;

}
.fab {
    font-size: 2em;
    color:#cadefc;
}
.fab:hover{
    color: #cca8e9;
}


@media  (max-width:850px){
    .heading{
        margin-top: 300px;
    }
    #flower {  
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    
    #princess {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    
    #lettering {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
}


