body {
    margin: 0;
}
.header {
    position: relative;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    margin: auto;
}
.header #mainBadge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    background: url("img/h2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    margin-top: 3em;

}
/*#9088d4;*/

section{
    padding: o 10px 10px 10px;
    
}
section h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    text-align: center;
    color: #c6cbef;
    margin: 0 0;
}
section p {
    /*font-family: 'Cabin Sketch', cursive;*/
    font-family: 'Glegoo', serif;
    font-size: 1em;
    margin: 0;
    color: #9088d4;
    padding: 0;
}

section .d2 {
    padding: 0 80px 0 80px;
}


h1 {
    margin-left: 30px;
}
p, h3{
    font-family: 'Glegoo', serif;
    text-align: center;
}
h1 a {
    padding-top: 200px;
    color: #cabbe9;
   
}

.home {
    height: 40vh;
}
nav {
    text-align: right;
    position: fixed;
    font-family: 'Megrim', cursive;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 0;
    /*padding: 0.5em;*/
    text-align: right;
    height: 3.9em;;

}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0.1em;
    font-size: 1.5em;
    font-weight: bolder;
}
.prunusLogo {
    width: 20%;
}
nav .prunusImg {
    text-align: center;
    padding: 0;
}
nav li{
    padding: 0 1em 0 1em;
}
nav a:link{
    color: #cadefc;
}
nav a:visited{
    color: #cca8e9;
}
nav a:hover{
    font-weight: lighter;
}
nav a .prunusLogo:hover {
    transform: scale(1.2);
}
a{
    text-decoration: none;
}

.img {
    width: 30%;
    margin-top: 10%;
    
    
}
.imgdiv{
    height: 500px;
    background-color: #FFF;
}


.border {
    border-top: 5px dotted #9088d4;
    width: 1%;
}


/*About Cake div*/
.aboutCake {
    margin: 80px 0 40px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.cakem {
    overflow: hidden;
    padding: 0;
    width: 370px;
    height: 370px;
    border:1px none #000;
    float:left;
    margin: 10px 0 10px 0;
}
.cakem img{
    width: 370px;
    height: 370px;
    transition-duration: 0.8s;
    margin: 0 auto;
    display: block;
}
.cakem img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}


/*footer*/
footer{
    height:15vh; 
    position: relative;
    padding: 0;
    margin: 0 0 20px 0;

}
.fa-instagram {
    font-size: 1.5em;
}
footer ul {
   position: absolute;
    bottom:0;
    width: 100%;
   margin: auto;
   list-style-type: none;
   padding: 0;

}

footer p {
    margin: 0 ;
}
footer .email, .copyRight {
    font-size: 0.8em;
    color:#9088d4;
}
footer a:link {
    color: #cadefc;
}
footer a:hover {
    color: #cca8e9;
}